@-moz-document url-prefix("https://calendar.google.com") {
/* Backgrounds */
.Kk7lMc-DWWcKd-OomVLb-haAclf, .Kk7lMc-QWPxkf-LgbsSe.DWWcKd-OomVLb-LgbsSe-barxie .DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf, .KMkTad .dwlvNd.Hrn1mc .kBIr7e.SaBhMc, .K36rb .dwlvNd.Hrn1mc .kBIr7e.SaBhMc, .JtukPc, .I7OXgf, .VmTz5c, .p9lUpf, .MDfQ7, .sP2P6e, .vimee .FYn10b, .vimee .gk6SMd.FYn10b, .NekIXe, .VmUiic, .gHQcAb, .W0m3G::before, .dKHeGf, .gb_Pd, .QQYuzf {
    background: #131719;
}
.GXlaye.qRI4pc.u3bW4e .CeoRYc, .GXlaye.qRI4pc:hover, .Cd9hpd:hover, .Cd9hpd .mAozAc.u3bW4e, .tNDBE, .DWWcKd-OomVLb-LgbsSe-ZmdkE .DWWcKd-OomVLb-LgbsSe-Bz112c-AHe6Kc, .DWWcKd-OomVLb-LgbsSe-FNFY6c .DWWcKd-OomVLb-LgbsSe-Bz112c-AHe6Kc, .Kk7lMc-Ia7Qfc-CZjX4e .DWWcKd-OomVLb-LgbsSe-gk6SMd .DWWcKd-OomVLb-LgbsSe-Bz112c-AHe6Kc, .Kk7lMc-Ia7Qfc-CZjX4e .DWWcKd-OomVLb-LgbsSe-XpnDCe .DWWcKd-OomVLb-LgbsSe-Bz112c-AHe6Kc, .SaBhMc, .W0m3G .r4nke, .VOEIyf .jBmls, .IIB0tc .ULpymb, .J09ahd, .qmv2fc.kaAt2:hover, .qmv2fc.KKjvXb, .shdZ7e .mIZh1c, .ZGVUP:hover, .ncFHed, .XOE24, .pQdjpb.shor6.yqvK0e.xxJcq .Kb2sf, .WnqCuf, .MocG8c, .HLI7qf, .JPdR6b, .FpmPAb.FpmPAb, .DyOaYd, .Ewn2Sd.kNRrie:hover, .Ewn2Sd.kNRrie, .DaQ2rc::before, .kMp0We.Wm6kRe.huVZvb:hover, .GrxScd .SWigMc.Wm6kRe.huVZvb:focus, .kMp0We.gk6SMd.huVZvb, .cAYGed.KKjvXb .Ioup7e, .cAYGed.KKjvXb .BMQm1d, .Kb2sf, .jgvuAb, .Qfwgwb, .Trypk, .vimee .jZ0DTb, .vimee .Kb2sf :not(.n9UQhb), .UiqCNc, .LOewLb.KKjvXb, .M842Cd, .v83gc, .GENA3c, .Gk2izd, .ZH4uRb, .OCQPo, .ebs3Ne:hover, .gb_yb.gb_yb, .gb_7a.gb_8a {
    background: #1b2022;
}
.yzYBvd:hover, .ef2wWc, .W0m3G:hover .r4nke, .ncFHed .MocG8c.KKjvXb, .z80M1.FwR7Pc, .Cd9hpd:hover .mAozAc.u3bW4e, .Cd9hpd .mAozAc.iWO5td, .QhgNnf.FwR7Pc, .e3odF, .Erb9le:not(.RDPZE) .qmMNRc.y7OZL, .KSxb4d.RKLVef:hover, body.geSgge .KSxb4d.RKLVef:hover, .KSxb4d.N4XV7d.RKLVef:hover, body.geSgge .KSxb4d.N4XV7d.RKLVef:hover, .g3dbUc.smECzc:hover, .g3dbUc.KCIIIb:hover, .g3dbUc.smECzc.KKjvXb, .GrxScd .g3dbUc.smECzc:focus {
    background: #323639;
}

/* Colors */
.GXlaye .snByac, .rSoRzd, .rF3YF, div.rF3YF svg, div.rF3YF span, .c7fp5b, .Cd9hpd .snByac, .t8qpF, .YK7obe .yzYBvd, .yzYBvd, .wy3aMe, .u5sQsb, .MSZkRb .r4nke, .SoBqBf, .OWyNBb, .iMprOe, .W0m3G .r4nke, .uQ1ixe .snByac, .NI2kfb, .NMm5M, .ULpymb .zHQkBf, .shdZ7e .zHQkBf, .EfSkZd, .WpDZC, .jT5e9, .GyffFb, .nYqxP, .Shk6y, .UYUfn, .W4J7Jd .snByac, .CVM8jc, .Erb9le:not(.RDPZE) .qmMNRc:hover, .T2Ybvb, .TgcD5e.CCDcoc .zHQkBf, .MocG8c, .HLI7qf .c7fp5b, .jO7h3c, .hGcgEd, .uOjlA:not(.RDPZE):hover, .tzcF6, .uSx8Od, .agOyMd .JAPzS, .Z7IIl, .pdqVLc .NI2kfb, .gb_sa svg, .gb_xc svg, .gb_0c .gb_8d, .gb_Jc .gb_8d, .NkK3Fc span[role=heading], .DaQ2rc.KKjvXb .Oxnkef, .cAYGed.KKjvXb .Ioup7e, .nxPHec, .VYaxId, .uFmiXb .snByac, .O1gyfd, .AeAAkf, .aXw0de, .JunSsb, .vimee .jZ0DTb, .vimee .Kb2sf :not(.n9UQhb), .BL7nNd, .LR1YDd, .UiqCNc, .z80M1.N2RpBe::before, .LV4Pme, .AeAAkf.rhtYVe .Ce1Y1c, .AeAAkf.rhtYVe .snByac, .a3PaRd, .WZ8Mdd, .aDCdzb, .LOewLb.KKjvXb .NI2kfb, .qmv2fc.KKjvXb, .ETkhPe, .QhgNnf, .pmZnVe.DpNtP .snByac, .lqhisf span.snByac, .pCoqfc, .MANBAf, .PT4xvc, .XTG2Sd, .Erb9le:not(.RDPZE) .qmMNRc.y7OZL, .qISYgf, .cuBluc, .KSxb4d.RKLVef, .c1wk3e, .ebs3Ne, .gb_sa svg, .gb_yc svg, .gb_1c .gb_ae, .gb_Kc .gb_ae {
    color: white;
}
.gb_Te.gb_Fe button svg {
    color: white !important;
}
.W0m3G, .DN1TJ, .ULpymb .snByac, .poXZ5b:not(.YkAcPc), .bnPQpd:not(.YkAcPc), .JmmUXc .GEhdLd, .qmMNRc, .TgcD5e .snByac, .uOjlA, .agOyMd div.DN1TJ, .LGMdbc, .g9eWN, .uFmiXb.RDPZE .snByac, .OOp5xb, .oj6B2e, .rkOI, .LwdFEc, .IZXV0b, .UQuaGc.RDPZE, .aXw0de .Wipb0c, .bsCOTd, .fey5Hf, .lvO8N, .erDb5d, .PTIB6e, .OYmaOb, .qmv2fc.kaAt2, .KPC9Wd, div#xDiscCancelBu {
    color: #ffffff87;
}

/* Border Colors */
.GXlaye.qRI4pc, .Cd9hpd, .EfSkZd, .ZGVUP, .kxh2c.gUZKAc:not(.sMVRZe):not(.dBA1M), .kxh2c:not(.gUZKAc).sMVRZe:not(.dBA1M), .MocG8c, .jxUZDd, .AeAAkf, .yEkFYd.Xc6hQ, .vimee, .cOoA8d, .cBs4Te, .CIFHgc, .C5Jlgc {
    border-color: #1b2022;
}
.t8qpF, .QIadxc, .PhLhOd, body[data-viewfamily=EVENT] .SGWAac, body[data-viewfamily=SCHEDULE] .SGWAac, body[data-viewfamily=SEARCH] .SGWAac, body[data-viewfamily=SETTINGS] .SGWAac, body[data-viewfamily=TRASH] .SGWAac, .tNDBE:not(.Wyo4Qe), .Kk7lMc-DWWcKd-OomVLb-haAclf, div.gboEAb, .XOE24 .AMBzld, .PqAscf, .mmsF1c::after, .YvjgZe.Qbfsob, .YvjgZe {
    border-color: #131719;
}
.AeAAkf:hover {
    border-color: #323639;
}

/* Other */
.rF3YF, div.rF3YF svg, div.rF3YF span, .DWWcKd-OomVLb-LgbsSe-Bz112c, .gb_sa svg, .gb_xc svg, .gb_0c .gb_8d, .gb_Jc .gb_8d {
    fill: white;
}
.gb_Te.gb_Fe button svg {
    fill: white !important;
}
.hEtGGf::after, .a0xMze.T8M5bd::after {
    display: none;
}
.z80M1.N2RpBe::before {
    border-color: white;
}
.J2aUD.T8M5bd .sx5BGe::before, .SGFqbe.T8M5bd .sx5BGe::before, .J2aUD.T8M5bd .qmFsL::after, .SGFqbe.T8M5bd .qmFsL::after {
    background: none;
}
/*.gb_Te.gb_Fe button svg {
    filter: invert(1);
}*/
}

@-moz-document url-prefix("https://calendar.google.com"), url-prefix("https://ogs.google.com") {
/*Topbar and user profile that keep breaking*/ /*+also the app launcher*/
.gb_vb::after {
    content: 'Dark Theme by Lekrkoekj - https://lekrkoekj.github.io';
    font-size: 12px;
    white-space: pre;
    color: white;
}
.gb_qa svg, .gb_Ec svg, .gb_6c .gb_ce, .gb_Qc .gb_ce, .modal-dialog-title-text, .gb_ff:not(.gb_wf), .gb_sa svg, .gb_yc svg, .gb_1c .gb_ae, .gb_Kc .gb_ae {
	color: white !Important;
}
.gb_4a.gb_5a, .gb_l .gb_mb, .gb_Eb, .gb_t, .gb_K, #gb a.gb_K, #gb a.gb_K:visited, #gb a.gb_K:active, #gb a.gb_L, #gb a.gb_L:visited, .gb_l .gb_ob, .gb_ub.gb_ub, .gb_yb.gb_yb, .gb_Fb.gb_Fb, a.gb_O, a.gb_P, .gb_sa svg, .gb_xc svg, .gb_0c .gb_6d, .gb_Jc .gb_6d, .gb_Se.gb_Te button svg, .gb_sa svg, .gb_xc svg, .gb_0c .gb_8d, .gb_Jc .gb_8d, .gb_Te.gb_Ue button svg, .gb_7a.gb_8a, .gb_3b, .gb_sa svg, .gb_xc svg, .gb_0c .gb_9d, .gb_Jc .gb_9d, .gb_ff, .gb_Ue.gb_Ve .gb_ff, .gb_Ve.gb_We .gb_gf, .gb_Hb, .gb_l .gb_rb, .gb_jf, .gb_Ze.gb_0e .gb_jf {
	color: white;
}
.gb_F, .gb_J, .gb_Se.gb_Te, .gb_l .gb_ob, .gb_5d {
	background: #131719;
}
.gb_Ec, .gb_Xe, .gb_Xe.gb_Ze, .gb_ia, .gb_4a.gb_5a, .gb_Sb>.gb_Rb:hover, .gb_K, .gb_k:not(.gb_l):hover .gb_t, .gb_k:hover a, .gb_ub.gb_ub, .gb_wb:hover, .gb_Fb.gb_Fb, a.gb_O, a.gb_P, .gb_Te, .gb_mb:hover, .gb_Ve, .gb_pb:hover, .gb_Ze {
	background: #1b2022;
}
.gb_l.gb_k:hover a {
    background: #1b2022 !important;
}
.gb_ia:hover, .gb_ia:focus,.gb_ub:hover, .gb_Pb>.gb_Ob:hover, .gb_yb:hover, .gb_Fb.gb_Fb:hover, .gb_Ve.gb_We, .gb_Ze.gb_0e {
	background: #323639;
}
.gb_yb:hover, .gb_P:hover, .gb_O:hover {
    background: #323639 !important;
}
.gb_ne {
	background: transparent !important;
}
.gb_Xe, .gb_Xe.gb_Ze, .gb_ia, .gb_Mb, .gb_Fb, .gb_k:hover a, .gb_L, .gb_ub.gb_ub, .gb_Eb, .gb_Fb.gb_Fb, .gb_l .gb_L, a.gb_O, a.gb_P, .gb_Ib.gb_Ib {
	border-color: #1b2022;
}
.gb_ia:hover, .gb_ia:focus, .gb_ub:hover, .gb_Fb.gb_Fb:hover, .gb_P:hover, .gb_O:hover {
	border-color: #323639;
}
.gb_if, .gb_cf, .gb_df, .gb_ef {
	filter: invert(1);
}
.gb_vb::after {
    content: 'Dark Theme by Lekrkoekj - https://lekrkoekj.github.io';
    font-size: 12px;
    white-space: pre;
    color: white;
}
.gb_qa svg, .gb_Ec svg, .gb_6c .gb_ce, .gb_Qc .gb_ce, .modal-dialog-title-text, .gb_4c span {
	color: white !Important;
}
.gb_4a.gb_5a, .gb_l .gb_mb, .gb_Eb, .gb_t, .gb_K, #gb a.gb_K, #gb a.gb_K:visited, #gb a.gb_K:active, #gb a.gb_L, #gb a.gb_L:visited, .gb_l .gb_ob, .gb_ub.gb_ub, .gb_yb.gb_yb, .gb_Fb.gb_Fb, a.gb_O, a.gb_P, .gb_sa svg, .gb_xc svg, .gb_0c .gb_6d, .gb_Jc .gb_6d, .NQV3m, .Rq5Gcb, .gb_sa svg, .gb_xc svg, .gb_0c .gb_7d, .gb_Jc .gb_7d, .gb_sa svg, .gb_mb>svg.gb_nb, .gb_zb>svg.gb_Ab, .gb_Bb>svg.gb_Cb, .gb_xb.gb_xb, .gb_6b, .gb_Jb.gb_Jb, .gb_Kb.gb_Kb {
	color: white;
}
.gb_5b, .gb_7b, .gb_l .gb_qb, .docs-homescreen-grid-item-time-container, .gb_l .gb_tb, .gb_l .gb_8b {
    color: #ffffff87;
}
.gb_F, .gb_J, .NQV3m, .gb_l .gb_lb, .gb_Bb.gb_Bb {
	background: #131719;
}
.gb_ed .gb_F, .gb_5d {
    background: #131719 !important;
}
.gb_Ec, .gb_Xe, .gb_Xe.gb_Ze, .gb_ia, .gb_4a.gb_5a, .gb_Sb>.gb_Rb:hover, .gb_K, .gb_k:not(.gb_l):hover .gb_t, .gb_k:hover a, .gb_ub.gb_ub, .gb_wb:hover, .gb_Fb.gb_Fb, a.gb_O, a.gb_P, .EHzcec, .gb_xb.gb_xb, .gb_Bb.gb_Bb:hover, .gb_Jb.gb_Jb, .gb_Kb.gb_Kb {
	background: #1b2022;
}
.gb_l.gb_k:hover a {
    background: #1b2022 !important;
}
.gb_ia:hover, .gb_ia:focus,.gb_ub:hover, .gb_Pb>.gb_Ob:hover, .gb_yb:hover, .gb_Fb.gb_Fb:hover, .tX9u1b:hover, .tX9u1b:hover .Rq5Gcb, .NQV3m:hover, .gb_xb.gb_xb:hover, .gb_Jb:hover {
	background: #323639;
}
.gb_yb:hover, .gb_P:hover, .gb_O:hover {
    background: #323639 !important;
}
.gb_ne {
	background: transparent !important;
}
.gb_Xe, .gb_Xe.gb_Ze, .gb_ia, .gb_Mb, .gb_Fb, .gb_k:hover a, .gb_L, .gb_ub.gb_ub, .gb_Eb, .gb_Fb.gb_Fb, .gb_l .gb_L, a.gb_O, a.gb_P, .gb_Ob, .gb_xb.gb_xb, .gb_Bb.gb_Bb:hover, .gb_Jb.gb_Jb, .gb_Kb.gb_Kb {
	border-color: #1b2022;
}
.gb_ia:hover, .gb_ia:focus, .gb_ub:hover, .gb_Fb.gb_Fb:hover, .gb_P:hover, .gb_O:hover, .dGrefb, .NQV3m:hover, .gb_xb.gb_xb:hover, .gb_Jb:hover {
	border-color: #323639;
}
.NQV3m, .gb_Bb.gb_Bb {
    border-color: #131719;
}
.gb_if, .gb_cf, .gb_pf.gb_rf svg {
	filter: invert(1);
}
.gb_ff::placeholder {
    color: #ffffff87 !important;
}
.gb_mb:hover>svg.gb_nb, .gb_mb:focus>svg.gb_nb, .gb_mb:active>svg.gb_nb, .gb_pb:hover>svg.gb_qb, .gb_pb:focus>svg.gb_qb, .gb_pb:active>svg.gb_qb {
    fill: white;
}
}
